body {
  background: #ddd;
  font-family: sans-serif;
  font-size: 1.2em;
  line-height: 1.3em;
}
h1 {
  border-bottom: 1px solid black;
  padding: 0 0 20px 0;
}
h2 a {
  text-decoration: none;
  color: inherit;
}
.container {
  margin: 50px auto;
  max-width: 100%;
  width: 800px;
}